* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: #0f0f0f;
    color: #ffffff;
    overflow: hidden;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}
