#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    color: #d64114;
}

.name {
    color: #d64114;
}

.aboutIntro {
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.6rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #1a1a1a;
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText {
    font-size: 0.9rem;
    font-weight: 200;
}

.aboutIcons {
    gap: 20px;
    display: flex;
}

@media screen and (max-width: 480px){
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.2rem;
        width: 2.25rem;
    }
    .skillBarText>h3 {
        font-size: 4vw;
    }
}
    
