.project-container {
  margin: 4rem 0;
  position: relative;
}

.project-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.project-contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
}

.project-item {
  position: relative;
  display: inline-block;
  border: 1.5px solid #6751b9;
  border-radius: 0.65rem;
  text-align: justify;
  padding: 0.9rem;
  margin: 0 1rem;
  box-shadow: 0 2rem 200px #221852;
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-item img:hover {
  transform: scale(1.48);
}

.project-item h6 {
  margin-top: 10px;
  font-size: 1.09rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

.project-item p {
  font-size: 0.9em;
  color: #ffffff;
}

.project-item div {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 1rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.9rem;
  margin-top: 1.3rem;
}

.project-item a {
  font-size: 0.8rem;
  font-weight: 400;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 9rem;
  color: #ffffff;
  padding: 0.4rem 0.6rem;
  margin-left: 1rem;
  text-decoration: none;
}
.project-item a:visited{
  color: #ffffff;
}
.project-item a:hover{
  background-color: #221852;
}

.project-link::after {
  content: "View Project";
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #333; 
  color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
}
.project-link:hover::after,
.project-link:focus::after {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 879px) {
  .project-container {
    margin: 2rem 0;
  }

  .project-contents {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1.3rem;
  }

  .project-item img {
    max-width: 300px;
  }

  .project-item h6 {
    font-size: 0.9rem;
  }

  .project-item p {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .project-container {
    margin: 2rem 0;
  }

  .project-contents {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1.3rem;
  }

  .project-item img {
    max-width: 300px;
  }

  .project-item h6 {
    font-size: 0.9rem;
  }

  .project-item p {
    font-size: 0.75rem;
  }
}

@media (max-width: 490px) {
  .project-container {
    margin: 1rem 0;
  }

  .project-contents {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 1.3rem;
  }

  .project-item img {
    max-width: 300px;
  }

  .project-item h6 {
    font-size: 0.8rem;
  }

  .project-link a {
    font-size: 0.7rem;
  }

  .project-item p {
    font-size: 0.65rem;
  }
}